<div class="reset-password-container">
    @if(!isPasswordResetDone)
    {
    <div class="logo-section">
        <img src="images/spider_todo_logo.png" alt="Spider Logo" class="logo-img" />
        <h2 class="logo-title">SPIDER TODO</h2>
    </div>
    
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

        <!-- New Password -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
            <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
        @if (resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched) {
        <mat-error>
            Passwords do not match
        </mat-error>
        }

        <!-- Login Button -->
        <button mat-flat-button color="primary" [disabled]="!resetPasswordForm.valid" class="full-width submit-btn"
            type="submit">
            Submit
        </button>
        
    </form>

    <div class="divider">
        <span>or</span>
    </div>
    <div class="login-link">
        <span>Remember your password? </span> <a routerLink="/">Login</a>
    </div>
    }
    @else {
        <img src="images/green_tick_logo.png" alt="success sign" class="success-tick-img">
        <p class="success-msg">
            Password reset successfully.
        </p>
        <button mat-flat-button color="primary" routerLink="/" class="full-width submit-btn">
            Back to login
        </button>
    }
</div>