<div class="tasks-container">
    <!-- Top bar with toggle only -->
    <div class="tasks-header">
        <mat-button-toggle-group [(ngModel)]="selectedTab" aria-label="Task filter" class="status-toggle" (change)="filterTasks()">
            <mat-button-toggle  value="Pending">Pending ({{getPendingTasksCount()}})</mat-button-toggle>
            <mat-button-toggle  value="Completed">Completed ({{getCompletedTasksCount()}})</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <!-- <div>
        {{filteredTasks | json}}
    </div> -->

    <!-- Task List -->


    <div cdkDropList (cdkDropListDropped)="drop($event)" class="tasks-list">
        @for (task of filteredTasks; track $index) {
        <mat-card class="task-card" appearance="outlined" cdkDrag [cdkDragDisabled]="!canDrag"  
        (touchstart)="onHoldStart($event)"
        (touchend)="onHoldEnd()"
        (mousedown)="onHoldStart($event)"
        (mouseup)="onHoldEnd()">
            <div class="task-row">

                <!-- Left: Checkbox -->
                <div class="task-left">
                    <mat-checkbox [checked]="task.status === 'Completed'" color="primary" (change)="toggleTaskStatus(task)"></mat-checkbox>
                </div>

                <!-- Middle: Task details -->
                <div class="task-middle">
                    <h3 class="task-title" [class.completed]="task.status === 'Completed'">
                        {{ task.title }}
                    </h3>

                    @if (task.description) {
                    <p class="task-desc" [class.completed]="task.status === 'Completed'">
                        {{ task.description }}
                    </p>
                    }

                    <div class="task-dates">
                        <span class="date-label">Created:</span>
                        <span>{{ task.createdDate | date: 'dd-MMM-yyyy' }}</span>
                    </div>
                </div>


                <!-- Right: Actions -->
                <div class="task-right">
                    @if(task.status === 'Pending')
                    {
                    <button mat-icon-button class="edit-btn" (click)="editTask(task.taskId)" aria-label="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    }
                    <button mat-icon-button class="delete-btn" (click)="deleteTask(task.taskId)" aria-label="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </div>
        </mat-card>
        }

        @if (filteredTasks.length === 0) {
        <div class="no-tasks">
            <img src="images/no_tasks_found.png" alt="No Tasks Found" class="no-tasks-img" />
        </div>
        }
    </div>

    <!-- Floating Action Button -->
    <button mat-fab color="primary" class="fab" (click)="addTask()">
        <mat-icon>add</mat-icon>
    </button>
</div>