.login-container {
  max-width: 320px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 83vh;
}

.forgot-password {
  margin-top: 0.625rem;
  text-align: center;
}

.forgot-password a {
  text-decoration: none;
  color: var(--theme-primary);
  font-size: var(--font-base);
}

.login-btn {
  margin-top: 0.9rem;
}

.login-btn:disabled {
  background-color: var(--theme-primary);
  color: #fff;
  opacity: 0.5;
}

.create-btn {
  margin-top: 0.3rem;
}