.signup-container {
  max-width: 320px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 81vh;
}

.signup-btn {
  margin-top: 0.9rem;
}

.signup-btn:disabled {
  background-color: var(--theme-primary);
  color: #fff;
  opacity: 0.5;
}

.login-link {
  margin-top: 0.9rem;
  text-align: center;
  cursor: pointer;
}

.login-link a {
  text-decoration: none;
  color: var(--theme-primary);
  font-size: var(--font-base);
}