<div class="forgot-password-container">

    @if(!isPasswordResetRequestSent)
    {
    
    <div class="logo-section">
        <img src="images/spider_todo_logo.png" alt="Spider Logo" class="logo-img" />
        <h2 class="logo-title">SPIDER TODO</h2>
    </div>

    <div>
        <h5 class="forgot-password-title">Forgot Password?</h5>
        <p>
            Enter your email to receive a password reset link.
        </p>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordRequest()">
        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email" />
        </mat-form-field>

        <!-- Login Button -->
        <button mat-flat-button color="primary" [disabled]="!forgotPasswordForm.valid" class="full-width submit-btn"
            type="submit">
            Submit
        </button>
            <!-- Divider -->
            <div class="divider">
                <span>or</span>
            </div>
            <!-- Login Link -->
            <div class="login-link">
                <span>Remember your password? </span> <a routerLink="/">Login</a>
            </div>
    </form>
    }
    @else {
        <img src="images/green_tick_logo.png" alt="success sign" class="success-tick-img">
        <p class="success-msg">
            Link sent successfully. Check your email.
        </p>
        <button mat-flat-button color="primary" routerLink="/" class="full-width submit-btn">
            Done
        </button>
    }

</div>