.dialog-title {
  font-weight: 600;
  font-size: 1.1rem;
}

mat-dialog-content p {
  margin: 0;
  font-size: 0.95rem;
  color: #444;
}

mat-dialog-actions {
  padding: 0.5rem 1rem 1.3rem 1rem;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px !important;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15) !important;
  //padding: 6px; 
}

